body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header {
    background-image : url(archivos/header.png);
    background-size: cover;
    background-position: center;
    background-color: #3b0a35;
    color: #fff;
  }

  .pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  img {
    width: 250px;
    height: auto;
    margin: 0 auto;
  }
  nav a {
    color: #fff;
    text-decoration: line;
    font-weight: bold;
  }
  .secundario a{
    color:white;
  }
  .secundario a:hover {
    color: #D300F7;
}
.flexbox{
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  height: 714px;
}
.flex-item{
  background-color: #3b0a35;
  width: 100%;
}
  .principal {
    display: inline-block;
    width: 60%;
    background-color:#3b0a35;
    background-image: url(archivos/contactoF.png);
    background-position: center;
    background-size: cover;
    margin: 20px;
    border-radius: 50px;
  }
  .principal img {
    width: 400px;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .secundario {
    width: 35%;
    float: left;
    background-color: #3b0a35;
    background-image: url(archivos/fondoS.png);
    background-position: center;
    background-size: cover;
    margin: 20px;
    border-radius: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "Pixelify Sans";
  }

  .secundario p{
    padding-top: 10px;
    font-size: 18px;
  }

  .secundario .caja{
    background-image: linear-gradient(
      900deg,
      #3a215e,
      #2e1b4e
      );
  border-radius: 6px;
  padding: 8px;
  }

  h1 {
    border-radius: 6px;
    padding:6px 12px;
    background-color: #20152a;

  }

  .consultas {
    color: white;
    display: flex;
    text-align: middle;
    height: auto;
    flex-direction: column;
    background-image: linear-gradient(
    0deg,
    #110a1b,
    #311746
    );
    padding:15px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
  }

.inputs {
  background-image: linear-gradient(
    900deg,
    #431f66,
    #23104b
    );
padding: 10px;
border-radius: 6px;

}

  .inputs input{
    background-image: linear-gradient(
      50deg,
      #501fa0,
      #5d14a1
      );
    color:#f0ebff;
    font-size: 18px;
    text-align: center;
    align-items: center;
    display: flex;
    
  }

 ::placeholder{
  color:rgb(245, 236, 250)
 }

  .consultas label {
    background-color: #3b0a35;
  }

.secundario input {
  border: 0;
  outline: 0;
  padding: 6px;
  display: flex;
  margin: 16px;
  border-radius: 6px;
  font-family: "Pixelify Sans";
  color:white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  background-image: linear-gradient(
    50deg,
    #501fa0,
    #5d14a1
    );
  margin: 10px;
  border-radius: 6px;
  border: solid 6px rgb(43, 23, 96);
  padding:6px;
  resize: none;
  font-family: "Pixelify Sans";
  font-size: 16px;
  outline:0;
  color:rgb(245, 236, 250);
  text-align: center;
  margin-top: 20px;

}
.secundario button {
  border: 0;
  background-image: linear-gradient(
    125deg,
    #370964,
    #cb83ee,
    #3d0c68
    );
    border-radius: 6px;
    color:#f3c9f1;
    display: center;
    font-size:15px;
    cursor:pointer;
    padding: 8px 4px;
    transition: transform 0.1s;
}
button:hover{
  transform: scale(1.1);
}
button span{
  background-color: #3b0a35;
  padding: 5px 5px;
  border-radius:6px;
  transition: 0,5s;
  font-family: "Pixelify Sans";
  font-weight: 400;
}

button:hover span{
  background: none;
  color:#0d0339;
}
  
footer {
  width: 100%;
  background-color:#3b0a35;
  color: #fff;
  text-align: center;
  background-image : url(archivos/footer.png);
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
}
  .bot{
    margin-bottom:5px;
    margin-top: 5px;
  }
  .bot img {
    height: 32px;
    width: auto;
  }
  .bot img:hover {
    cursor: pointer;
  }

